<div class="found-on">
<ul>
{% if site.github_user %}
<li class="github-circle"><a href="https://github.com/{{site.github_user}}/" rel="tooltip" title="Github"></a></li>
{% endif %}

{% if site.stackoverflow_user %}
<a href="http://stackoverflow.com/users/{{site.stackoverflow_user}}/" rel="tooltip" title="Stack Overflow"><img class="social_icon" title="Stack Overflow" alt="stack overflow icon" src="{{ root_url }}/images/glyphicons_400_stack_overflow.png"></a>
{% endif %}

{% if site.linkedin_user %}
<li class="linkedin-circle"><a href="http://www.linkedin.com/in/{{site.linkedin_user}}" rel="tooltip" title="Linkedin"></a></li>
{% endif %}

{% if site.twitter_user %}
<li class="twitter-circle"><a href="http://twitter.com/{{site.twitter_user}}" rel="tooltip" title="Twitter"></a></li>
{% endif %}

{% if site.googleplus_user %}
<li class="googleplus-circle"><a href="https://plus.google.com/{{site.googleplus_user}}?rel=author" rel="tooltip" title="Google Plus"></a></li>
{% endif %}

{% if site.quora_user %}
<a href="http://www.quora.com/{{site.quora_user}}" rel="tooltip" title="Quora"><img class="social_icon" title="Quora" alt="Quora icon" src="{{ root_url }}/images/glyphicons_385_quora.png"></a>
{% endif %}

</ul>

{% if site.email %}
<!-- <h2>contact at</h2>
<a href="mailto:{{ site.email }}">{{ site.email }}</a> -->
{% endif %}
</div>